{% extends 'base.html' %}
{% load static %}
{% block title %}Document{% endblock %}
{% block body %}
    <header class="header--form-page">
      <nav class="container container--70">
{% include 'login_header.html' %}

{% include 'headermenu.html' %}
      </nav>

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>

{% endblock %}