{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load custom_filters %}
{% block title %}Document{% endblock %}
{% block body %}


    <header class="header--main-page">
      <nav class="container container--70">
{% include 'login_header.html' %}
{% include 'headermenu.html' %}

      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{ bags }}</em>
          <h3>Oddanych worków</h3>
          <p>Obdarowane rodziny cieszą się z tylu worków darów</p>
        </div>

        <div class="stats--item">
          <em>{{ supported_institutions }}</em>
          <h3>Wspartych organizacji</h3>
          <p>Tyle organizacji zostało wspartych darami od dobrodziejów</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1" id="foundations">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        <ul class="help--slides-items">
            {% for foundation in foundations %}
                {% with number=forloop.counter|div:5 %}
                      <li data-page="{{ number|roundup }}" class="li-select">
                {% endwith %}

                <div class="col">
                  <div class="title">{{ foundation.name }}</div>
                  <div class="subtitle">{{ foundation.description }}</div>
                </div>

                <div class="col"><div class="text">{% for cat in foundation.categories.all  %}{{ cat.name }}{% endfor %}</div></div>
              </li>
            {% endfor %}

        </ul>
        <ul class="help--slides-pagination">
            {% for foundation in foundations %}
                {% with howmany=forloop.counter|sub:1 %}
                {% if howmany|divisibleby:5 %}
                    {% with number=forloop.counter|intdiv:5 %}
                        <li><a href="#" class="btn btn--small btn--without-border active" data-page="{{ number|add:1 }}">{{ number|add:1 }}</a></li>
                    {% endwith %}
                {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>

      </div>


      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>
          W bazie znajdują się pozarządowe organizacje charytatywne zarejestrowane w KRS. Szczegółowy opis organizacji poniżej.
        </p>
        <ul class="help--slides-items">
            {% for nongover in non_governmental_organization %}
                {% with number=forloop.counter|div:5 %}
                      <li data-page="{{ number|roundup }}" class="li-select">
                {% endwith %}
                <div class="col">
                  <div class="title">{{ nongover.name }}</div>
                  <div class="subtitle">{{ nongover.description }}</div>
                </div>

                <div class="col"><div class="text">{% for cat in nongover.categories.all %}{{ cat.name }}{% endfor %}</div></div>
              </li>
            {% endfor %}
        </ul>

        <ul class="help--slides-pagination">
            {% for nongover in non_governmental_organization %}
                {% with howmany=forloop.counter|sub:1 %}
                    {% if howmany|divisibleby:5 %}
                        {% with number=forloop.counter|intdiv:5 %}
                            <li><a href="#" class="btn btn--small btn--without-border active" data-page="{{ number|add:1 }}">{{ number|add:1 }}</a></li>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>

      </div>

      <!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>Poniżej lokalne zbiórki wraz z opisem najbardziej potrzebujących rzeczy</p>
        <ul class="help--slides-items">
            {% for collection in local_collection %}
                {% with number=forloop.counter|div:5 %}
                      <li data-page="{{ number|roundup }}" class="li-select">
                {% endwith %}
                <div class="col">
                  <div class="title">{{ collection.name }}</div>
                  <div class="subtitle">{{ collection.description }}</div>
                </div>

                <div class="col"><div class="text">{% for cat in collection.categories.all %}{{ cat.name }}{% endfor %}</div></div>
              </li>
            {% endfor %}
        </ul>

        <ul class="help--slides-pagination">
            {% for collection in local_collection %}
                {% with howmany=forloop.counter|sub:1 %}
                    {% if howmany|divisibleby:5 %}
                        {% with number=forloop.counter|intdiv:5 %}
                        <li><a href="#" class="btn btn--small btn--without-border active" data-page="{{ number|add:1 }}">{{ number|add:1 }}</a></li>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>

      </div>
    </section>

{% endblock %}
