{% extends 'base.html' %}
{% load static %}
{% block title %}Document{% endblock %}
{% block body %}
    <header>
      <nav class="container container--70">
{% include 'login_header.html' %}

{% include 'headermenu.html' %}
      </nav>
    </header>

    <section class="login-page">
      <h2>Utwórz hasło</h2>
      <form method="POST">
          {% csrf_token %}
            {% if error_msg %}
              <div><h3>{{ error_msg }}</h3></div>
            {% endif %}
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Zapisz</button>
        </div>
      </form>
    </section>
{% endblock %}
